* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff; 
  background-image: url('image.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}



header {
  background-color: transparent; 
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  padding: 0;
  margin-bottom: 20px; 
}

nav li {
  margin:0 15px; 
}

nav a {
  text-decoration: none;
  color: #fff; 
  font-weight: bold;
  padding: 8px 15px; 
  border: 2px solid #fff; 
  border-radius: 5px; 
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ccc; 
}



.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero h1 {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.hero h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.hero button {
  background-color: #fff;
  color: #181818; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.hero button:hover {
  background-color: #ccc;
}

.hero img {
  width: 190px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}


.about-me, 
.skills, 
.projects, 
.contact {
  padding: 50px 0; 
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 20px;
  margin-top: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 5px;
  background-color: #282828; 
}

.achievement-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.achievements {
  background-color: transparent;
  padding: 50px 0;
  text-align: center;
}

.achievements h2 {
  text-align: center;
}

.achievement-card {
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 5px;
  background-color: #282828;
  text-align: left;
}

.achievement-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.achievement-card .small-text {
  color: #00aaff;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.achievement-card h3 {
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.subheading {
  color: #00aaff;
  font-size: 1.2em;
  margin-bottom: 15px;
  text-align: center;
}

.contact form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.contact input[type="submit"] {
  background-color: #fff;
  color: #181818;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contact input[type="submit"]:hover {
  background-color: #ccc;
}

footer {
  background-color: #282828; 
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

footer ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

footer li {
  display: inline-block;
  margin: 0 10px;
}
